<mat-drawer-container class="home-background diagonal-stripes">
    <app-toolbar (drawerToggle)="drawer.toggle()"></app-toolbar>
    <app-home-cards></app-home-cards>
    <div class="responsive-container">
        <app-three-d class="three-d-container diagonal-stripes-reversed-small"></app-three-d>
        <mat-card class="custom-card">
            <mat-card-header class="large-title diagonal-stripes-reversed-small">
                Row your own boat
            </mat-card-header>
            <mat-card-content class="title">
                Rearrange the 7 Cs of learning to suit your needs!<br>
                Flip the cards to learn more about the pillars that support this initiative!<br><br>
            </mat-card-content>
            <mat-card-actions align="end">
                <div style="display: flex; gap:10px;"> 
                    <button class="title" mat-fab extended color="warn">
                        <mat-icon  color="primary" >explore</mat-icon>
                        Start your voyage
                    </button>
                    <!-- <button mat-raised-button color="warn">Start your voyage</button> -->
                    <button class="title" mat-fab extended color="primary">
                        Learn more
                    </button>
                </div>
            </mat-card-actions>
        </mat-card>
    </div>
    
    <mat-drawer #drawer mode="over" class="sidenav">
        <div class="sidenav-toggle">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>keyboard_arrow_left</mat-icon>
            </button>
        </div>
        <div class="sidenav-buttons">
            <div class="sidenav-button">
                <mat-icon>home</mat-icon>
                <button mat-button>
                    Home
                </button>
            </div>
            <div class="sidenav-button">
                <mat-icon>bar_chart</mat-icon>
                <button mat-button>
                    Recent Activity
                </button>
            </div>
            <div class="sidenav-button">
                <mat-icon>contact_mail</mat-icon>
                <button mat-button>
                    Addresses
                </button>
            </div>
            <div class="sidenav-button">
                <mat-icon>notifications</mat-icon>
                <button mat-button>
                    Notifications
                </button>
            </div>
            <div class="sidenav-button">
                <mat-icon>location_on</mat-icon>
                <button mat-button>
                    Location
                </button>
            </div>
            <div class="sidenav-button">
                <mat-icon>settings</mat-icon>
                <button mat-button>
                    Settings
                </button>
            </div>
            <div class="sidenav-button">
                <mat-icon>help</mat-icon>
                <button mat-button [routerLink]="'/about'">
                    About
                </button>
            </div>
        </div>
        <mat-divider></mat-divider>
        <div class="logout-container">
            <div class="sidenav-button">
                <mat-icon>logout</mat-icon>
                <button mat-button>
                    Logout
                </button>
            </div>
        </div>

    </mat-drawer>
</mat-drawer-container>
